<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="">
      <h1>All Blogs</h1>
    </div>
    <div class="blogs">
      <% if(blogs.length > 0){ %> <% blogs.forEach(blog=>{ %>
      <h1><%= blog.title %></h1>
      <p><%= blog.body %></p>
      <a href="/edit-blog/<%= blog._id %>" class="btn btn-primary">Edit</a>
      <a href="/delete-blog/<%= blog._id %>" class="btn btn-danger">Delete</a>
      <!-- <button class="delete" type="button" data-doc="<%= blog._id %>">
        Delete
      </button> -->

      <% })%> <% } else { %>
      <h1>No Blogs Yet</h1>
      <% } %>
    </div>
    <!-- <script>
      const trash = document.querySelector("button.delete");
      trash.addEventListener("click", (e) => {
        const endPoint = `/delete-blog/${trash.dataset.doc}`;
        fetch(endPoint, {
          method: "DELETE",
        })
          .then((result) => result.json())
          .then((data) => {
            window.location.href = data.redirect;
          });
      });
    </script> -->
  </body>
</html>
